  <li>
    <p> 
        <b>  <%= foro.title %></b>
        <i> <%= foro.content %></i>
        <button> Editar </button>
    </p>
  </li>
  <h1> anda el foro?</h1>
  // paralelo con con nota en el video 