<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    <a href="/foro"> volver</a>
	|<h1> nuevo Foro</h1>
    <form action="/foro">
        <input type="text" name="author" placeholder="Autor"> <br>
        <textarea name="content" cols=" 30" rows="10" placeholder="Foro nuevo">  </textarea>
        <button> Crear Foro </button>
    </form>
</body>
</html>